@use "@/styles/mixins.scss";
@use "@/styles/brand";

.mainMenu {
	padding: 1em;
	@include mixins.flex(row, space-between, center);
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;

	.name {
		color: white;
	}

	.links {
		@include mixins.shadow(white, 0.1, 0px, 0px, 3px, 1px);
		@include mixins.glassy(rgba(0, 0, 0, 0.204));
		@include mixins.flex(row, space-between, flex-start, 1.5em);
		padding: 0.75em 1em;
		border-radius: 3px;

		a {
			color: white;
		}
	}

	@media screen and (max-width: 600px) {
		justify-content: center;

		.name {
			display: none;
		}
	}
}
