@use "@/styles/mixins.scss";
@use "@/styles/brand";

.scroller {
	@include mixins.flex();
	overflow-y: scroll;
	scroll-snap-type: y mandatory;

	> * {
		scroll-snap-align: start;
	}

	@media screen and (max-width: 600px) {
		overflow-y: initial;
		scroll-snap-type: none;
	}
}
