@use "@/styles/mixins";
@use "@/styles/brand";

.page {
	@include mixins.grid();
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	height: 100vh;
	width: 100%;
	background: brand.$primary-gradient;
	overflow-y: auto;
	position: fixed;

	.loader {
		margin: auto;
	}

	.title {
		color: white;
		text-align: center;
		width: 100%;
	}

	section {
		position: relative;
		opacity: 0;
		padding: 1em;
		min-height: 100vh;
		height: max-content;
		width: 100%;
		@include mixins.flex(column, center, center);
		margin: auto;
		margin-bottom: 3em;

		.info {
			color: white;
			width: 100%;
		}
	}

	section.myInfo {
		margin-top: 3em;

		.content {
			color: white;
			width: 100%;
			@include mixins.shadow(white, 0.1, 0px, 0px, 3px, 1px);
			@include mixins.glassy(rgba(0, 0, 0, 0.204));
			padding: 1em;
			border-radius: 10px;

			> div {
				@include mixins.flex(row);
				gap: 3em;

				figure {
					margin: 0;
					min-width: 250px;
					border-radius: 5px;
					overflow: hidden;
				}

				> div {
					padding: 0;
				}
			}
		}
	}

	section.contact {
		.form {
			padding: 1em;
			border-radius: 10px;
			@include mixins.shadow(white, 0.1, 0px, 0px, 3px, 1px);
			@include mixins.glassy(rgba(0, 0, 0, 0.204));
			@include mixins.flex();
			width: 100%;
			max-width: 400px;

			input,
			textarea {
				padding: 0.5em;
				width: 100%;
				border-radius: 5px;
				border: none;
			}

			textarea {
				resize: vertical;
				min-height: 100px;
				max-height: 400px;
			}

			button {
				border-radius: 5px;
				cursor: pointer;
				border: none;
				align-self: flex-end;
				padding: 0.25em 1em;
				font-weight: bold;
			}
		}
	}

	@media screen and (max-width: 600px) {
		section {
			min-height: max-content;
		}

		section.myInfo {
			.content {
				> div {
					gap: 0em;
					flex-direction: column;
				}
			}
		}
	}
}
